---
# See https://pre-commit.com for more information
repos:
  - repo: "https://github.com/pre-commit/pre-commit-hooks"
    rev: "v4.1.0"
    hooks:
      - id: "trailing-whitespace"
      - id: "end-of-file-fixer"
      - id: "fix-byte-order-marker"
      - id: "mixed-line-ending"
      - id: "check-merge-conflict"
      - id: "check-case-conflict"
      - id: "check-json"
      - id: "pretty-format-json"
        args:
          - "--autofix"
          - "--no-sort-keys"

  - repo: "https://github.com/Lucas-C/pre-commit-hooks"
    rev: "v1.1.13"
    hooks:
      - id: "remove-crlf"
      - id: "remove-tabs"

  - repo: "https://github.com/jumanjihouse/pre-commit-hooks.git"
    rev: "2.1.6"
    hooks:
      - id: "markdownlint"

  - repo: "https://github.com/gruntwork-io/pre-commit"
    rev: "v0.1.17"  # Get the latest from: https://github.com/gruntwork-io/pre-commit/releases
    hooks:
      - id: "helmlint"

  - repo: "https://github.com/adrienverge/yamllint.git"
    rev: "v1.26.3"
    hooks:
      - id: "yamllint"
        args:
          - "-c=.yamllint"
          - "-s"

  - repo: "https://github.com/norwoodj/helm-docs"
    rev: "v1.7.0"
    hooks:
      - id: "helm-docs"
        args:
          # Make the tool search for charts only under the `example-charts` directory
          - "--chart-search-root=charts"

          # The `./` makes it relative to the chart-search-root set above
          - "--template-files=README.md.gotmpl"
