---
# spell-checker: disable
# See https://pre-commit.com for more information
repos:
  - repo: "https://github.com/pre-commit/pre-commit-hooks"
    rev: "v4.5.0"
    hooks:
      - id: "trailing-whitespace"
      - id: "end-of-file-fixer"
      - id: "fix-byte-order-marker"
      - id: "mixed-line-ending"
      - id: "check-merge-conflict"
      - id: "check-case-conflict"
      - id: "check-json"
      - id: "pretty-format-json"
        args:
          - "--autofix"
          - "--no-sort-keys"

  - repo: "https://github.com/Lucas-C/pre-commit-hooks"
    rev: "v1.5.4"
    hooks:
      - id: "remove-crlf"
      - id: "remove-tabs"

  - repo: "https://github.com/jumanjihouse/pre-commit-hooks.git"
    rev: "3.0.0"
    hooks:
      - id: "markdownlint"
        args:
          - "--ignore-front-matter"
          - "docs/"

  - repo: "https://github.com/streetsidesoftware/cspell-cli"
    rev: "v7.3.1"
    hooks:
      - id: "cspell"

  - repo: "https://github.com/gruntwork-io/pre-commit"
    rev: "v0.1.22"  # Get the latest from: https://github.com/gruntwork-io/pre-commit/releases
    hooks:
      - id: "helmlint"

  - repo: "https://github.com/adrienverge/yamllint.git"
    rev: "v1.32.0"
    hooks:
      - id: "yamllint"
        args:
          - "-c=.yamllint"
          - "-s"

  # - repo: "https://github.com/bridgecrewio/checkov.git"
  #   rev: "2.3.152"
  #   hooks:
  #     - id: "checkov"
  #       args:
  #         - "--directory"
  #         - "charts/nautobot"
  #         - "--skip-path"
  #         - "charts/nautobot/linter_values.*.yaml"
  #         - "--var-file"
  #         - "charts/nautobot/linter_values_minimum.yaml"
  #         - "--var-file"
  #         - "charts/nautobot/linter_values.yaml"
  #         - "--framework"
  #         - "helm"
  #         - "--output"
  #         - "cli"
  #         - "--output"
  #         - "sarif"
  #         - "--output-file-path"
  #         - "console,checkov.sarif"

  - repo: "https://github.com/norwoodj/helm-docs"
    rev: "v1.11.3"
    hooks:
      - id: "helm-docs"
        args:
          # Make the tool search for charts only under the `example-charts` directory
          - "--chart-search-root=charts"

          # The `./` makes it relative to the chart-search-root set above
          - "--template-files=README.md.gotmpl"

  - repo: "https://github.com/norwoodj/helm-docs"
    rev: "v1.11.3"
    hooks:
      - id: "helm-docs"
        args:
          - "--chart-to-generate=charts/nautobot"
          - "--template-files=./docs/configuration/reference.md.gotmpl"
          - "--output-file=../../docs/configuration/reference.md"
