---
annotations:
  category: "Infrastructure"
  artifacthub.io/containsSecurityUpdates: "false"
  artifacthub.io/license: "Apache-2.0"
  artifacthub.io/prerelease: "false"
  artifacthub.io/images: |
    - name: nautobot
      image: ghcr.io/nautobot/nautobot:1.2.5-py3.9
  artifacthub.io/links: |
    - name: Nautobot Documentation
      url: https://nautobot.readthedocs.io/en/stable/
    - name: Nautobot
      url: https://github.com/nautobot/nautobot
  artifacthub.io/screenshots: |
    - title: Main Page
      url: https://raw.githubusercontent.com/nautobot/nautobot/develop/nautobot/docs/media/screenshot1.png
    - title: Rack Elevation
      url: https://raw.githubusercontent.com/nautobot/nautobot/develop/nautobot/docs/media/screenshot2.png
    - title: Prefix hierarchy
      url: https://raw.githubusercontent.com/nautobot/nautobot/develop/nautobot/docs/media/screenshot3.png
  artifacthub.io/changes: |
    - kind: changed
      description: {{{prTitle}}}
    - kind: changed
      description: Update Nautobot version to 1.2.5
    - kind: changed
      description: Update pre-commit hook Lucas-C/pre-commit-hooks to v1.1.11
    - kind: fixed
      description: Redis headless service name fails in non-sentinel environments with RO replicas
      links:
        - name: Github Issue
          url: https://github.com/nautobot/helm-charts/issues/123
    - kind: changed
      description: Updated Kubescape scanning, fixing kubescape findings from Sentinel
    - kind: changed
      description: Added Markdownlint to pre-commit
    - kind: changed
      description: Upgraded Bitnami common subchart from 1.10.4 to 1.11.1
    - kind: changed
      description: Upgraded PostgreSQL-HA subchart from 8.2.6 to 8.2.8
    - kind: changed
      description: Upgraded Redis subchart from 16.2.0 to 16.3.0
apiVersion: "v2"
appVersion: "1.2.5-py3.9"
dependencies:
  - condition: "redis.enabled"
    name: "redis"
    repository: "https://charts.bitnami.com/bitnami"
    version: "16.x.x"
  - condition: "postgresql.enabled"
    name: "postgresql"
    repository: "https://charts.bitnami.com/bitnami"
    version: "10.x.x"
  - condition: "postgresqlha.enabled"
    name: "postgresql-ha"
    repository: "https://charts.bitnami.com/bitnami"
    version: "8.x.x"
    alias: "postgresqlha"
  - condition: "mariadb.enabled"
    name: "mariadb"
    repository: "https://charts.bitnami.com/bitnami"
    version: "10.x.x"
  - name: "common"
    repository: "https://charts.bitnami.com/bitnami"
    tags:
      - "bitnami-common"
    version: "1.x.x"
description: "Nautobot is a Network Source of Truth and Network Automation Platform."
engine: "gotpl"
home: "https://github.com/nautobot/nautobot"
icon: "https://raw.githubusercontent.com/nautobot/helm-charts/main/images/NautobotLogoSquare.png"
keywords:
  - "DCIM"
  - "IPAM"
  - "SOT"
maintainers:
  - email: "opensource@networktocode.com"
    name: "Network to Code"
    url: "https://www.networktocode.com/"
name: "nautobot"
sources:
  - "https://github.com/nautobot/nautobot"
  - "https://github.com/nautobot/helm-charts"
version: "1.2.1"
