---
annotations:
  category: "Infrastructure"
  artifacthub.io/containsSecurityUpdates: "false"
  artifacthub.io/license: "Apache-2.0"
  artifacthub.io/prerelease: "true"
  artifacthub.io/links: |
    - name: Nautobot Documentation
      url: https://nautobot.readthedocs.io/en/stable/
    - name: Nautobot
      url: https://github.com/nautobot/nautobot
apiVersion: "v2"
appVersion: "1.1.4"
dependencies:
  - condition: "redis.enabled"
    name: "redis"
    repository: "https://charts.bitnami.com/bitnami"
    version: "14.X.X"
  - condition: "postgresql.enabled"
    name: "postgresql"
    repository: "https://charts.bitnami.com/bitnami"
    version: "10.x.x"
  - name: "common"
    repository: "https://charts.bitnami.com/bitnami"
    tags:
      - "bitnami-common"
    version: "1.x.x"
description: "Nautobot is a Network Source of Truth and Network Automation Platform."
engine: "gotpl"
home: "https://github.com/nautobot/nautobot"
icon: "https://raw.githubusercontent.com/nautobot/helm-charts/main/images/NautobotLogoSquare.png"
keywords:
  - "DCIM"
  - "IPAM"
  - "SOT"
maintainers:
  - email: "opensource@networktocode.com"
    name: "Network to Code"
    url: "https://www.networktocode.com/"
name: "nautobot"
sources:
  - "https://github.com/nautobot/nautobot"
  - "https://github.com/nautobot/helm-charts"
version: "0.3.3"
