{{- $nautobots := (include "nautobot.nautobots" .) | mustFromJson -}}
{{- $nautobotKeys :=  keys (omit $nautobots "default") | sortAlpha -}}
{{- $nautobotKeys := append $nautobotKeys "default"}}
---
{{- if .Values.ingress.enabled }}
apiVersion: {{ include "common.capabilities.ingress.apiVersion" . }}
kind: Ingress
metadata:
  name: {{ include "common.names.fullname" . }}
  namespace: {{ .Release.Namespace | quote }}
  labels: {{- include "common.labels.standard" . | nindent 4 }}
    {{- if .Values.commonLabels }}
    {{- include "common.tplvalues.render" ( dict "value" .Values.commonLabels "context" $ ) | nindent 4 }}
    {{- end }}
  {{- if (or .Values.ingress.annotations .Values.commonAnnotations) }}
  annotations: {{- include "common.tplvalues.render" ( dict "value" (merge .Values.ingress.annotations .Values.commonAnnotations) "context" $ ) | nindent 4 }}
  {{- end }}
spec:
  {{- if and .Values.ingress.ingressClassName (include "common.ingress.supportsIngressClassname" .) }}
  ingressClassName: {{ .Values.ingress.ingressClassName | quote }}
  {{- end }}
  rules:
    {{- if .Values.ingress.hostname }}
    - host: {{ .Values.ingress.hostname }}
      http:
        paths:
          {{- range $nautobotName := $nautobotKeys -}}
          {{- $nautobot := (first (values (pick $nautobots $nautobotName))) }}
          {{- if $nautobot.enabled }}
          - path: {{ $nautobot.ingressPath | quote }}
            {{- if eq "true" (include "common.ingress.supportsPathType" $) }}
            pathType: {{ $.Values.ingress.pathType }}
            {{- end }}
            backend: {{- include "common.ingress.backend" (dict "serviceName" (printf "%s-%s" (include "common.names.fullname" $) $nautobotName) "servicePort" (default "https" $.Values.ingress.backendProtocol) "context" $)  | nindent 14 }}
          {{- end }}
          {{- end }}
    {{- end }}
    {{- range .Values.ingress.extraHosts }}
    - host: {{ .hostname | quote }}
      http:
        paths:
          {{- range $nautobotName := $nautobotKeys -}}
          {{- $nautobot := (first (values (pick $nautobots $nautobotName))) }}
          {{- if $nautobot.enabled }}
          - path: {{if $nautobot.staticFilesOnly }}"/static"{{ else }}{{ $nautobot.ingressPath | quote }}{{ end }}
            {{- if eq "true" (include "common.ingress.supportsPathType" $) }}
            pathType: {{ $.Values.ingress.pathType }}
            {{- end }}
            backend: {{- include "common.ingress.backend" (dict "serviceName" (printf "%s-%s" (include "common.names.fullname" $) $nautobotName) "servicePort" (default "https" $.Values.ingress.backendProtocol) "context" $)  | nindent 14 }}
          {{- end }}
          {{- end }}
    {{- end }}
  {{- if or .Values.ingress.tls .Values.ingress.extraTls }}
  tls:
    {{- if .Values.ingress.tls }}
    - hosts:
        - {{ .Values.ingress.hostname }}
      secretName: {{ .Values.ingress.secretName }}
    {{- end }}
    {{- if .Values.ingress.extraTls }}
    {{- include "common.tplvalues.render" ( dict "value" .Values.ingress.extraTls "context" $ ) | nindent 4 }}
    {{- end }}
  {{- end }}
{{- end }}
