{{- $nautobots := (include "nautobot.nautobots" .) | mustFromJson -}}
{{- range $nautobotName, $nautobot := $nautobots -}}
{{- if $nautobot.enabled -}}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "common.names.fullname" $ }}-{{ $nautobotName }}
  namespace: {{ $.Release.Namespace | quote }}
  labels: {{- include "common.labels.standard" $ | nindent 4 }}
    app.kubernetes.io/component: nautobot-{{ $nautobotName }}
    {{- if $.Values.commonLabels }}
    {{- include "common.tplvalues.render" ( dict "value" $.Values.commonLabels "context" $ ) | nindent 4 }}
    {{- end }}
  {{- if (or $.Values.service.annotations $.Values.commonAnnotations) }}
  annotations: {{- include "common.tplvalues.render" ( dict "value" (merge $.Values.service.annotations $.Values.commonAnnotations) "context" $ ) | nindent 4 }}
  {{- end }}
spec:
  type: {{ $.Values.service.type }}
  {{- if (or (eq $.Values.service.type "LoadBalancer") (eq $.Values.service.type "NodePort")) }}
  externalTrafficPolicy: {{ $.Values.service.externalTrafficPolicy | quote }}
  {{- end }}
  {{- if eq $.Values.service.type "LoadBalancer" }}
  loadBalancerSourceRanges: {{ $.Values.service.loadBalancerSourceRanges }}
  {{- end }}
  {{- if (and (eq $.Values.service.type "LoadBalancer") (not (empty $.Values.service.loadBalancerIP))) }}
  loadBalancerIP: {{ $.Values.service.loadBalancerIP }}
  {{- end }}
  {{- if not (empty $.Values.service.clusterIP) }}
  clusterIP: {{ $.Values.service.clusterIP }}
  {{- end }}
  ports:
    - protocol: "TCP"
      port: {{ $.Values.service.httpsPort }}
      targetPort: "https"
      name: "https"
      {{- if (and (eq $.Values.service.type "NodePort") (not (empty $.Values.service.nodePorts.https))) }}
      nodePort: {{ $.Values.service.nodePorts.https }}
      {{- end }}
    - protocol: "TCP"
      port: {{ $.Values.service.port }}
      targetPort: "http"
      name: "http"
      {{- if (and (eq $.Values.service.type "NodePort") (not (empty $.Values.service.nodePorts.http))) }}
      nodePort: {{ $.Values.service.nodePorts.http }}
      {{- end }}
    {{- if and $.Values.metrics.uwsgiExporter.enabled $.Values.metrics.enabled }}
    - protocol: "TCP"
      port: 9117
      targetPort: "uwsgimetrics"
      name: "uwsgimetrics"
      {{- if (and (eq $.Values.service.type "NodePort") (not (empty $.Values.service.nodePorts.http))) }}
      nodePort: {{ $.Values.service.nodePorts.uwsgimetrics }}
      {{- end }}
    {{- end }}
    {{- if $.Values.service.extraPorts }}
    {{- include "common.tplvalues.render" (dict "value" $.Values.service.extraPorts "context" $) | nindent 4 }}
    {{- end }}
  selector: {{- include "common.labels.matchLabels" $ | nindent 4 }}
    app.kubernetes.io/component: nautobot-{{ $nautobotName }}
{{ end }}
{{ end }}
{{- if (and $.Values.nautobot.metrics $.Values.metrics.enabled $.Values.metrics.serviceMonitor.enabled) }}
{{- $workers := (include "nautobot.workers" $) | mustFromJson }}
{{- range $celeryName, $celery := $workers }}
{{- if (and $celery.enabled (ne $celeryName "beat")) }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "common.names.fullname" $ }}-celery-{{ $celeryName }}-headless
  namespace: {{ $.Release.Namespace | quote }}
  labels: {{- include "common.labels.standard" $ | nindent 4 }}
    app.kubernetes.io/component: nautobot-celery-{{ $celeryName }}
    {{- if $.Values.commonLabels }}
    {{- include "common.tplvalues.render" ( dict "value" $.Values.commonLabels "context" $ ) | nindent 4 }}
    {{- end }}
  {{- if (or $.Values.service.annotations $.Values.commonAnnotations) }}
  annotations: {{- include "common.tplvalues.render" ( dict "value" (merge $.Values.service.annotations $.Values.commonAnnotations) "context" $ ) | nindent 4 }}
  {{- end }}
spec:
  clusterIP: "None"
  ports:
    - protocol: "TCP"
      port: {{ $celery.metricsPort }}
      targetPort: "workermetrics"
      name: "workermetrics"
  selector: {{- include "common.labels.matchLabels" $ | nindent 4 }}
    app.kubernetes.io/component: nautobot-celery-{{ $celeryName }}
{{ end }}
{{ end }}
{{ end }}
