---
# spell-checker: disable
name: "Release"
on:  # yamllint disable-line rule:truthy
  push:
    tags: "*"
jobs:
 # release:
 #   runs-on: "ubuntu-22.04"
 #   steps:
 #     - uses: "actions/checkout@v4"
 #     - name: "Publish Helm charts"
 #       uses: "stefanprodan/helm-gh-pages@v1.7.0"
 #       with:
 #         token: "${{ secrets.GITHUB_TOKEN }}"
 #         dependencies: "bitnami,https://charts.bitnami.com/bitnami"

  publish-oci:
    runs-on: "ubuntu-22.04"
    steps:
      - uses: "actions/checkout@v4"
      - name: "Publish Helm charts to OCI"
        uses: "appany/helm-oci-chart-releaser@v0.4.2"
        with:
          name: "nautobot"
          repository: "nautobot/helm-charts"
          tag: "${{ github.ref_name }}"
          path: "charts/nautobot"
          registry: "ghcr.io"
          registry_username: "${{ secrets.REGISTRY_USERNAME }}"
          registry_password: "${{ secrets.REGISTRY_PASSWORD }}"
          update_dependencies: false
